@use "../abstracts" as abs;

.about {
	display: grid;
	place-items: center;
	gap: 1rem;
	grid-template-columns: repeat(1, 1fr);
	@include abs.mq(1000px, 0px) {
		grid-template-columns: repeat(2, 1fr);
	}

	margin: 1rem auto;
	max-width: 80vw;

	&__item {
		padding: 2rem;
		@include abs.mq(1000px, 0px) {
			padding: 4rem;
		}
		width: fit-content;
		border-radius: 100vmax;
		border: 0.2rem solid var(--color-dark);

		text-align: center;
		text-decoration: none;

		animation: about-item-load 300ms ease-in;
		animation-fill-mode: forwards;
		transform: translateX(-50px);
		opacity: 0;

		cursor: pointer;

		color: var(--color-dark);
		font-size: 1.5rem;
		font-weight: bold;

		transition: all 0.5s ease;

		&:hover,
		&:focus-visible {
			background-color: var(--color-dark);

			color: var(--color-primary);
		}
	}

	&__text {
		margin: 0 auto;
		text-align: center;

		padding-block: 3rem;
		font-size: 2rem;

		animation: about-undertext-load 300ms ease-in;
		animation-fill-mode: forwards;
		transform: translateY(20px);
		opacity: 0;

		a {
			background-color: var(--color-dark);
			border-radius: 100vmax;
			padding: 0.5rem 1rem;

			color: var(--color-primary);
			text-decoration: none;

			cursor: pointer;

			transition: all 0.5s ease;

			animation: store-button 800ms ease-in;

			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;

			&:hover,
			&:focus-visible {
				animation-play-state: paused;
				color: var(--color-light);
			}
		}
	}
}

@keyframes store-button {
	0% {
		opacity: 0.75;
	}

	40% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes about-item-load {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes about-undertext-load {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
