@use "../abstracts" as abs;

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 1rem;

	background-color: var(--color-dark);

	color: var(--color-light);

	&__item {
		padding: 0.25rem;
		text-align: center;
		letter-spacing: 1.1px;

		span {
			font-style: italic;
		}
	}

	h2 {
		font-size: 1.5rem;
	}

	a {
		text-decoration: none;
		color: var(--color-primary);

		cursor: pointer;

		transition: all 0.5s ease;

		&:hover,
		&:focus-visible {
			color: var(--color-light);
		}
	}

	::selection {
		background-color: var(--color-light-transparent);

		color: var(--color-dark-transparent);
	}
}

.social--container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@include abs.mq(1000px, 0px) {
		grid-template-columns: repeat(4, 1fr);
	}

	.social--icons {
		font-size: 2rem;
		padding-inline: 1rem;
	}
}
