:root {
  font-family: "Montserrat", sans-serif;
  --color-dark: hsl(0, 0%, 25%);
  --color-dark-transparent: hsla(0, 0%, 25%, 0.9);
  --color-light: hsl(0, 0%, 90%);
  --color-light-transparent: hsla(0, 0%, 90%, 0.9);
  --color-primary: hsl(175, 100%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-size: inherit;
  font-size: 100%;
  scroll-behavior: smooth;
  cursor: default;
}

.navbar {
  position: sticky;
  top: 0;
  padding-block: 0.25rem;
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-dark);
}
.navbar__item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.5s ease;
}
.navbar__item:hover, .navbar__item:focus {
  opacity: 0.5;
  transform: scale(1.1);
}
@media only screen and (min-width: 600px) and (min-height: 0px) {
  .navbar__item {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 0px) {
  .navbar__item {
    font-size: 1.5rem;
  }
}

.hero {
  background-color: var(--color-light);
}
.hero__image {
  margin: 0 auto;
  max-width: 75rem;
  box-shadow: 50vw 0rem 0 0 var(--color-light), -50vw 0rem 0 0 var(--color-light);
  background-image: url("../img/store2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/9;
  display: grid;
  place-items: center;
}
@media only screen and (min-width: 600px) and (min-height: 0px) {
  .hero__image {
    aspect-ratio: 3/1;
  }
}
.hero__image__text {
  padding: 1rem;
  background-color: var(--color-dark-transparent);
  color: var(--color-primary);
}
@media only screen and (min-width: 700px) and (min-height: 0px) {
  .hero__image__text {
    font-size: 2rem;
  }
}

.info {
  padding: 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
}
.info__item {
  padding: 0.25rem;
  text-align: center;
}
.info__item span {
  font-style: italic;
}

main {
  background-color: var(--color-light);
  border-block: 1px solid var(--color-dark);
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
main .albums {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media only screen and (min-width: 600px) and (min-height: 0px) {
  main .albums {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media only screen and (min-width: 900px) and (min-height: 0px) {
  main .albums {
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 0px) {
  main .albums {
    grid-template-columns: repeat(4, 1fr);
    gap: 8rem;
  }
}
main .albums__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
main .albums__item img {
  border-radius: 1rem;
}
main .albums__item h3 {
  font-weight: bold;
}
main .albums__item button {
  padding: 1rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}
main .albums__item button:hover, main .albums__item button:focus {
  color: var(--color-light);
  transform: scale(1.1);
}
