@use "../abstracts" as abs;

.hero {
    background-color: var(--color-light);

    &__image {
        margin: 0 auto;

        max-height: 20rem;

        box-shadow: 50vw 0rem 0 0 var(--color-light), -50vw 0rem 0 0 var(--color-light);

        background-image: url("../img/store2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        aspect-ratio: 16 / 9;

        @include abs.mq(600px, 0px) {
            aspect-ratio: 3 / 1;
        }

        display: grid;
        place-items: center;

        &__text {
            padding: 1rem;

            background-color: var(--color-dark-transparent);

            color: var(--color-primary);

            @include abs.mq(700px, 0px) {
                font-size: 2rem;
            }
        }
    }
}
